<% if params[:search].present? %>

<ul>
<% for restaurant in @restaurants %>
  <li><%= link_to restaurant.name, restaurant, :class => "#{restaurant.tips ? 'yestips' : 'notips'}" %> (<%= restaurant.distance.round(2) %> miles)</li>
<% end %>
</ul>


<% else %>

<ul>
<% for restaurant in @restaurants %>
  <li><%= link_to restaurant.name, restaurant, :class => "#{restaurant.tips ? 'yestips' : 'notips'}" %> (<%= restaurant.address %>) <%= restaurant.tips %></li>
<% end %>
</ul>


<% end %>