
<div id="content">
	
	<div id="front-map">
		<%= gmaps4rails(@json_map) %>
	</div>
	
	<div id="youdo">
		<p>Here are some things you can do right now:</p>
		<ol>
			<li>Ask the waiting staff when you pay your bill if they get the tip/service charge</li>
			<li>Add the restaurant here</li>
			<li>Tell you MP that the law needs to change</li>
		</ol>
	</div>

	<div id="restaurant-index">

		<h1>Listing restaurants</h1>

		<%= render 'search' %>

		<%= render 'list' %>

	</div>

	<%= link_to 'Add Restaurant', new_restaurant_path, :id => 'add-restaurant', :class => 'round' %>
	
	<%= render 'login' %>

</div>



