<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => 'delete') %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
<h1>Listing restaurants</h1>

<%= form_tag restaurants_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>


<%= render 'list' %>

<div style="width: 400px;">Mapple
	<%= gmaps4rails(@json_map) %>
	
</div>

<br />

<%= link_to 'New Restaurant', new_restaurant_path %>
