<div id="restaurant" class="<%= "#{@restaurant.tips ? 'yestips' : 'notips'}" %>">

	<h1 class="name"><%= @restaurant.name %></h1>

	<p class="address">
	  <%= @restaurant.address %>
	</p>

	<p class="contact">
	  <%= @restaurant.contact_details %>
	</p>

	<div class="correspondence" style="display:none;">
	  <%= raw RedCloth.new(@restaurant.correspondence).to_html %>
	</div>

	<h3>Nearby restaurants</h3>
	<ul>
		<% for restaurant in @restaurant.nearbys(2) %>
			<li><%= link_to restaurant.name, restaurant, :class => "#{restaurant.tips ? 'yestips' : 'notips'}" %> (<%= restaurant.distance.round(2) %> miles)</li>
		<% end %>
	</ul>

	<div class="restaurant-map">
		<%= gmaps4rails(@json_map) %>	
	</div>

	<div class="comments">
		<%= render 'disqus' %>
	</div>
	
Configuration variables


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>

</div>