<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield :head %> 
</head>
<body>
<div id="container">
	<header>
		<nav class="round">
			<%= nav %>
		</nav>
	</header>
	
	<section class="round">
		<% flash.each do |key, value| %>
	      <div class="flash <%= key %>"><%= value %></div>
	    <% end %>
	
		<%= yield %>
	
	</section>


	<footer>
		<%= render 'layouts/footer' %>
		<%= yield :scripts %>
	</footer>
</div>
</body>
</html>
